#list-layouts, #list-own-layouts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

#list-layouts .layout, #list-own-layouts .layout {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

#list-layouts .skeleton, #list-own-layouts .skeleton {
    display: none;
}

#list-layouts .layout_img, #list-own-layouts .layout_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
