#module-edit {
	background-color: bisque;
}

#module-view {
	background-color:gainsboro;
}

#module-data {
	background-color: bisque;
}

.skeleton {
	display:none;
}

.edit-plate-form {
	display: none;
}

#module-edit p {
	display: none;
}

#module-svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#hover-rect {
	background-color: cornflowerblue;
	display: none;
}